* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-srif;
	font-size: 16px;
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    font-family: Consolas, monaco, monospace;
}

.showcase-item-container {
    padding: 1rem;
    width: 25%;
    min-width: 300px;
    box-sizing: border-box;
}

.showcase-item {
    background-color: rgb(122, 56, 184);
}

.showcase-item img{
    width: 100%;
}

.showcase-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    font-size: 1rem;
}