* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Consolas, monaco, monospace;
	font-size: 16px;
    background: linear-gradient(-45deg, #161616, #8b8b8b, #e5e5e5, #ffffff);
    background-size: 100% 100%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.title {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 2rem;
}

.showcase {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.showcase-item-container {
    padding: 1rem;
    margin: 0.25rem;
    width: 25vw;
    min-width: 400px;
    box-sizing: border-box;
    border: solid rgb(214, 214, 214) 1px;
    background-color: white;
    box-shadow: none;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    text-decoration: none;
    color: black;
}

.showcase-item-container:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.showcase-item {
    height: 20vw;
    min-height: 320px;
    position: relative;
    
}

.showcase-item img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.showcase-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    font-size: 1rem;
}

.modal {
    z-index: 1010;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 600px;
    max-width: 95%;
    height: 400px;
    max-height: 95%;
    background-color: white;
}

.modal-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000cf;
}
